body{
    font-family: Georgia;
}
#menu{
background-color:#63AC74;
color: orange;
height: 140px;  
width: 50%;
text-align:right;
font-size:160%; 
    
}
#logo{
background-color:#63AC74;
color: orange;
height: 140px;  
width: 50%;
text-align:right;
font-size:160%; 
}