body{
    font-family: Georgia;
}
#menu{
background-color:#63AC74;
color: orange;
height: 140px;  
width: 50%;
text-align:right;
font-size:160%; 
float: left;
    
}
#logo{
background-color:#63AC74;
color: orange;
height: 140px;  
width: 50%;
text-align:right;
font-size:160%;
float: left;    
}
#glowny{
background-color:#E3F6F7;
width:500px;
padding: 20px 20px 20px 20px;    
}
